@model JobBoard.Models.JobOffer

@{
    ViewData["Title"] = "Delete Job Offer";
}

<h1>Delete Job Offer</h1>

<h3>Are you sure you want to delete this job offer?</h3>
<hr />
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Company)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Location)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Location)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Position)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Position)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
